<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web GL test</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="shortcut icon" href="static/icons8-automatic-ios-16-filled-96.png">
    <script src="static/webgl.js"></script>
</head>
<body onload="init_draw();">
    <h1>Web GL Development Page</h1>
    <div id="canvas_container">
        <canvas id="webgl" width="150" height="150"></canvas>
    </div>
    <div id="canvas_controller">
        <button id="clear" onclick="clear_canvas();">CLEAR</button>
    </div>
    <script>
        var container = document.getElementById("webgl");
        container.addEventListener("click", function(event){
            promise = container.requestPointerLock();
        });
        container.addEventListener("mousemove", function(event){
            if(document.pointerLockElement == container) {
                console.log(event.movementX, event.movementY);
            }
        })
    </script>
</body>
</html>